$secondary_color: #ff17e1;
$light_text_color: #e8e8e8;

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-size: 8vh;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 0.1vw;
    margin: 0;
    padding: 0;
}

.color_secondary {
    color: $secondary_color;
}

#section_top {
    position: relative;
    width: 100vw;
    height: 90vh;
    background-image: url(../imgs/bg.png);

    canvas{
        position: absolute;
    }
    
    .text_overlay{
        position: absolute;
        top: 30vh;
        left: 10vw;
        cursor: default;
        

        h2 {
            color: $light_text_color;
            opacity: 0.8;
        }
    }
}

#home_nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100vw;
        overflow: auto;
    }

    li {
        display: inline-block;
        width: 33.2%;

        &:nth-child(1) .border {
            left: 0;
            border-left: 1px solid purple;
            border-bottom: 1px solid purple;
        }
    
        &:nth-child(2) .border {
            width: 100%;
            text-align: center;
            bottom: 0;
            border-bottom: 1px solid purple;
        }

        &:nth-child(3) .border {
            right: 0;
            border-right: 1px solid purple; 
            border-bottom: 1px solid purple;
        }
    }

    a {
        display: block;
        width: 60%;
        margin: 0 auto;
        position: relative;
        text-decoration: none;
        font-weight: 300;
        font-size: 1.6em;
        text-align: center;
        height: 8vh;
        line-height: 9vh;
        color: #4a4a4a;
    }

    a:hover {
        background-color: #f2f2f2;

        .border {
            border-width: 2px;
        }
    }

    .border {
        position: absolute;
        width: 30%;
        height: 70%;
        bottom: 0;
    }
}