$secondary_color: #ff17e1;
$light_text_color: #e8e8e8;

$text_default: #2d2d2d;

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-size: 8vh;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 0.1vw;
    margin: 0;
    padding: 0;
}

.color_secondary {
    color: $secondary_color;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;

    .box {
        margin: auto;
        width: 50vw;
    }

    .box:first-child .box:last-child {
        width: 25vw;
        min-height: 10px;
    }

    nav {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
            
            li {
                display: inline-block;
                padding: 0 20px;

                a {
                    color: $text_default;
                }
            }
        }
    }

    #social_nav {
        text-align: right;
        padding: 10px 20px;

        img {
            height: 32px;
            padding: 0 20px;
        }
    }
}

main {
    min-height: 100vh;
}

main#home {
    overflow-x: hidden;
}

#section_top {
    position: relative;
    width: 100vw;
    height: 80vh;
    background-image: url(../imgs/bg.png);
    background-size: cover;

    canvas{
        position: absolute;
    }
    
    .text_overlay{
        position: absolute;
        top: 30vh;
        left: 10vw;
        cursor: default;
        

        h2 {
            color: $light_text_color;
            opacity: 0.8;
        }
    }
}

#home_nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100vw;
        overflow: auto;
    }

    li {
        display: inline-block;
        width: 33.2%;

        &:nth-child(1) .border {
            left: 0;
            border-left: 1px solid #d122b9;
            border-bottom: 1px solid #d122b9;
        }
    
        &:nth-child(2) .border {
            width: 100%;
            text-align: center;
            bottom: 0;
            border-bottom: 1px solid #d122b9;
        }

        &:nth-child(3) .border {
            right: 0;
            border-right: 1px solid #d122b9; 
            border-bottom: 1px solid #d122b9;
        }
    }

    a {
        display: block;
        width: 60%;
        margin: 0 auto;
        position: relative;
        font-weight: 300;
        font-size: 1.6em;
        text-align: center;
        height: 8vh;
        line-height: 9vh;
        color: #4a4a4a;
    }

    a:hover {

        .border {
            border-width: 2px;
        }
    }

    .border {
        position: absolute;
        width: 30%;
        height: 70%;
        bottom: 0;
    }
}

main#aboutme {
    margin: 4vh 5vw;
}